<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.amgonzalez.FormularioApp"
        versionCode = "10" 
        version     = "1.0.0" >
	<name>FormularioApp</name>
	<description>Aplicacion de ejemplo para practicar</description>
	<author href="https://es.linkedin.com/in/amgonzalez91" email="antoniomg91@gmail.com">
		Antonio Martinez Gonzalez
	</author>
</widget>